:root {
  /* Color */
  --white-color: #fff;
  --dark-white-color: #fafafa;
  --red-color: #ff0000;
  --blue-color: #045fd4;
  --black-color: #140a00;
  --grey-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --spacing: 12px;
  --spacing-small: 6px;
  --semi-avatar-size: 24px;
  --avatar-size: 36px;

  /* Font size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-white-color);
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
}

/* Header */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: var(--white-color);
  color: var(--black-color);
  z-index: 1;
}

head .title {
  font-family: "Teko", sans-serif;
}

header .logo {
  font-size: var(--font-large);
}

header .logo .fa-youtube {
  color: var(--red-color);
}

header .logo i {
  color: var(--black-color);
}

header .logo .fa-bars {
  padding: 12px;
}

header .input__search {
  justify-content: center;
  display: flex;
  width: 50%;
}

header .input__search .search__box {
  border: 1px solid var(--grey-light-color);
  width: 80%;
  /* height: 60%; */
}
header .input__search .search__box .key {
  font-size: 16px;
  width: 5%;
  height: 30px;
}

/* header .input__search {
  color: var(--black-color);
  border: 1px solid var(--grey-light-color);
} */

header .input__search .search {
  font-size: 14px;
  border: 1px solid var(--grey-light-color);
  width: 70px;
  height: 33px;
  background-color: var(--grey-light-color);
}

header .input__search .mic {
  font-size: 20px;
  width: 5%;
  height: 33px;
  padding-left: 12px;
}

header .input__search input {
  width: 90%;
  border: none;
}

header .icons {
  display: flex;
  align-items: center;
}

header .icons i {
  font-size: 20px;
}

header .icons button {
  padding: 8px;
}

header .icons img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.primary {
  display: flex;
  flex-direction: column;
  width: 60%;
  float: left;
}

/* Video player */
.player {
  text-align: center;
  padding: 24px 0px;
  margin-left: 24px;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* Video info */
.infoAndUpNext .info {
  padding: 0 var(--spacing);
  margin-left: 24px;
}

/* Metadata */
.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--spacing);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--spacing);
}

.info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .infoAndicons {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .infoAndicons .views {
  font-size: var(--font-small);
  color: var(--grey-color);
}

/* Action buttons */
.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--spacing) 0;
}

.info .actions button {
  display: flex;
  padding-left: 16px;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .actions button i {
  padding: 0 8px;
  margin: 0 auto;
  margin-bottom: var(--spacing-small);
  font-size: var(--font-regular);
}

.info .actions button i.active {
  color: var(--blue-color);
}

/* Channel description */
.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.info .channel .metadata {
  display: flex;
  align-items: center;
  padding: var(--spacing-small) 0;
}

.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: var(--spacing);
}

.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-color);
}

.info .channel .subscribe {
  background-color: var(--red-color);
  align-self: center;
  width: 60px;
  height: 35px;
  color: var(--white-color);
  font-size: var(--font-medium);
  border: 1px solid var(--grey-light-color);
}

.secondary {
  float: right;
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

/* Up next */
.upNext {
}

.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: var(--spacing-small);
}

.upNext .item {
  display: flex;
  margin-top: var(--spacing);
}

.upNext .item .img {
  flex-basis: 35%;
  margin-right: var(--spacing);
}

.upNext .item .img img {
  width: 100%;
  height: 80%;
}

.upNext .item .itemInfo {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.upNext .item .moreBtn {
  flex-basis: 5%;
  height: 100%;
}

.upNext .item .itemInfo .title {
  font-size: var(--font-small);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.upNext .item .itemInfo .name {
  padding-top: 4px;
}

.upNext .item .itemInfo .name,
.upNext .item .itemInfo .views {
  font-size: var(--font-micro);
  color: var(--grey-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
  }

  .upNext {
    padding: var(--spacing);
  }
}
